* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  position: relative;
  /* border-inline: 5px solid black; */
  /* width: 40vw !important; */
  min-width: 320px;
  height: 80vh;
  border-radius: 1.6rem;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2rem solid #813908;
  border-radius: 1.3rem;
  box-shadow: 0 0 8px black;
}
.container::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  border: 4px solid rgba(0, 0, 0, 0.616);
  border-radius: 1.5rem;
  /* box-shadow: 0 0 2px black; */
}
/* -------------------------------------------- */
/*                     Hole                     */
/* -------------------------------------------- */
.hole {
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
}
.hole1 {
  top: 3%;
  right: 3%;
}
.hole2 {
  top: 47%;
  right: 1%;
}
.hole3 {
  bottom: 3%;
  right: 3%;
}
.hole4 {
  bottom: 3%;
  left: 3%;
}
.hole5 {
  top: 47%;
  left: 1%;
}
.hole6 {
  top: 3%;
  left: 3%;
}
/* -------------------------------------------- */
/*                     Ball                     */
/* -------------------------------------------- */
.ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
}
.ball1 {
  background-color: white;
  bottom: 15%;
  left: 46%;
  animation: white 1s 1 linear alternate forwards;
  box-shadow: 0 0 10px black;
}
.ball2 {
  background-color: red;
  top: 46.8%;
  left: 42%;
  animation: red 2s 1 1s linear alternate forwards;
}
.ball3 {
  background-color: blue;
  top: 47%;
  left: 48.9%;
  animation: blue 2s 1 1s linear alternate forwards;
}
.ball4 {
  background-color: yellow;
  top: 42.8%;
  left: 39%;
  animation: yellow 2s 1 1s linear alternate forwards;
}
.ball5 {
  background-color: purple;
  top: 43%;
  left: 46%;
  animation: purple 2s 1 1s linear alternate forwards;
}
.ball6 {
  background-color: rgb(3, 73, 16);
  top: 43.5%;
  right: 40.4%;
  animation: green 2s 1 1s linear alternate forwards;
}
/* -------------------------------------------- */
/*                   Keyframes                  */
/* -------------------------------------------- */

@keyframes white {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    bottom: 15%;
    left: 46%;
  }
  to {
    transform: rotate(360deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    bottom: 45%;
    left: 45%;
  }
}
@keyframes yellow {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 41.2%;
    left: 39%;
  }
  to {
    transform: rotate(360deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 3.5%;
    left: 3.5%;
    display: none;
  }
}

@keyframes purple {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 41.2%;
    left: 46%;
  }
  to {
    transform: rotate(360deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 2.5rem;
  }
}

@keyframes green {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 41.5%;
    right: 40.4%;
  }
  to {
    transform: rotate(360deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 3.5%;
    right: 3.5%;
    display: none;
  }
}

@keyframes red {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 46.8%;
    left: 42%;
  }
  to {
    transform: rotate(180deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 26%;
    left: 30%;
  }
}
@keyframes blue {
  from {
    transform: rotate(0deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 47%;
    left: 48.9%;
  }
  to {
    transform: rotate(180deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    top: 26%;
    left: 55%;
  }
}
@media screen and (max-width: 992px) {
  .ball1 {
    background-color: white;
    bottom: 15%;
    left: 46%;
  }
  .ball2 {
    background-color: red;
    top: 46.8%;
    left: 41%;
    /* animation: red 2s 1 1s linear alternate forwards; */
  }
  .ball3 {
    background-color: blue;
    top: 46.8%;
    left: 49%;
    /* animation: blue 2s 1 1s linear alternate forwards; */
  }
  .ball4 {
    background-color: yellow;
    top: 43.4%;
    left: 37.5%;
    /* animation: yellow 2s 1 1s linear alternate forwards; */
  }
  .ball5 {
    background-color: purple;
    top: 43.5%;
    left: 45.4%;
    /* animation: purple 2s 1 1s linear alternate forwards; */
  }
  .ball6 {
    background-color: rgb(3, 73, 16);
    top: 43.5%;
    right: 38.7%;
    /* animation: green 2s 1 1s linear alternate forwards; */
  }
  @keyframes white {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      bottom: 15%;
      left: 46%;
    }
    to {
      transform: rotate(360deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      bottom: 46.5%;
      left: 45%;
    }
  }
  @keyframes yellow {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 43.4%;
      left: 37.5%;
    }
    to {
      transform: rotate(360deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 3.5%;
      left: 3.5%;
      display: none;
    }
  }

  @keyframes purple {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 43.5%;
      left: 45.4%;
    }
    to {
      transform: rotate(360deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 2.5rem;
    }
  }

  @keyframes green {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 43.5%;
      right: 38.7%;
    }
    to {
      transform: rotate(360deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 3.5%;
      right: 3.5%;
      display: none;
    }
  }

  @keyframes red {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 46.8%;
      left: 41%;
    }
    to {
      transform: rotate(180deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 26%;
      left: 30%;
    }
  }
  @keyframes blue {
    from {
      transform: rotate(0deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 46.8%;
      left: 49%;
    }
    to {
      transform: rotate(180deg);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      top: 26%;
      left: 55%;
    }
  }
}

@media screen and (max-width: 576px) {
  .container::before {
    border: 1.8rem solid #813908;
  }
  .container::after {
    content: "";
    position: absolute;
    top: 1.7rem;
    left: 1.7rem;
    right: 1.7rem;
    bottom: 1.7rem;
    border: 4px solid rgba(0, 0, 0, 0.616);
  }
  .hole {
    background-color: black;
    width: 2rem;
    height: 2rem;
  }
  .ball {
    width: 1.4rem;
    height: 1.4rem;
  }
  .ball6 {
    background-color: rgb(3, 73, 16);
    top: 43.5%;
    right: 40.5%;
  }
  @keyframes yellow {
    to {
      top: 3.5%;
      left: 5.5%;
      display: none;
    }
  }
  @keyframes green {
    from {
      top: 43.5%;
      right: 40.5%;
    }
    to {
      top: 3.5%;
      right: 5.5%;
      display: none;
    }
  }
}
