@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Rubik+Burned&family=Sixtyfour&display=swap");
/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Bungee Shade', sans-serif;
font-family: 'Rubik Burned', system-ui;
font-family: 'Sixtyfour', sans-serif; */
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", serif;
  background-color: rgba(0, 255, 136, 0.367);
  display: flex;
  justify-content: center;
  margin: auto;
  /* align-items: center; */
}
/* .container {
  background-color: rgba(0, 255, 136, 0.367);
  height: 100vh;
  padding: 2rem;
} */
/* -------------------------------------------- */
/*                     maın                     */
/* -------------------------------------------- */
.head {
  text-align: center;
  color: #000000;
  border-bottom: 6px solid #000000;
  font-size: 40px;
  font-family: "Sixtyfour", sans-serif;
  margin: 40px auto;
  /* box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.452); */
}

.center {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  /* border: 6px solid #ffc400; */
  border-radius: 30px;
  padding: 20px;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.452);
}
.display {
  background-color: brown;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  width: 30rem;
  height: 8rem;
  margin: 12px auto;
  padding: 5px;
  font-family: "Sixtyfour", sans-serif;
  font-size: 30px;
  text-align: end;
  /* box-shadow: 20px 20px 5px rgba(91, 191, 204, 0.281); */
}
.line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: #494848b5;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 8px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.2rem;
  cursor: pointer;
  color: white;
}
.button:hover {
  background-color: #1a1a1aeb;
  transform: scale(1.1);
  box-shadow: 3px 3px 6px aqua;
  font-size: 5rem;
}
.button4:hover,
.button8:hover,
.button12:hover,
.button16:hover {
  background-color: rgb(255, 30, 0);
  transform: scale(1.1);
  font-size: 5rem;
}
.button4,
.button8,
.button12,
.button16 {
  background-color: rgb(255, 30, 0);
}

.button1,
.button2,
.button3 {
  background-color: #b1afafb5;
}
.button17 {
  width: 135px;
  border-radius: 5rem;
}
/* .paragraf {
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
} */
