@import "./themes.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 5rem auto;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.img img {
  width: 100%;
}

.text {
  font-family: var(--ff-pt);
  padding: 2rem;
  flex: 1;
}

.header,
.paragraph {
  width: 100%;
  max-width: 400px;
}

h2 button,
.storage button,
.add button {
  background-color: rgb(218, 187, 146);
  border-radius: 0.8rem;
  font-family: var(--ff-pt);
  border: none;
  white-space: nowrap;
}

.storage {
  line-height: 1.5rem;
}

.storage button {
  width: 30%;
  height: 1.6rem;
  text-align: center;
  margin-right: 0;
  margin-bottom: 1rem;
}

.add {
  display: flex;
  /* flex-direction: column;  */
  align-items: center;
  justify-content: space-between;
}

.add button {
  width: 30%;
  height: 1.8rem;
  border-radius: 10px;
  background-color: rgb(218, 187, 146);
  border: none;
  margin-bottom: 1rem;
}

.add p {
  padding-right: 1rem;
  font-size: var(--fs-xl);
  font-family: var(--ff-prosto);
}

button:hover {
  cursor: pointer;
  background-color: rgb(146, 218, 160);
}

/* -------------------------------------------- */
/*                 Media Queries                */
/* -------------------------------------------- */
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .img {
    margin-top: 2.5rem;
  }

  .img img {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 2rem auto;
  }

  .img img,
  .text {
    width: 100%;
  }

  .header,
  .paragraph,
  .storage button,
  .add button {
    max-width: none; /* Remove max-width for better responsiveness */
  }
  .add button {
    width: 6rem;
    margin-right: 1rem;
  }
}
