@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Roboto+Mono:wght@600&family=Rubik+Burned&family=Sixtyfour&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);

  width: 100vw;
  height: 100vh;
  /* font-family: 'Bebas Neue', sans-serif;
font-family: 'Bungee Shade', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik Burned', system-ui;
font-family: 'Sixtyfour', sans-serif; */
}
.cover {
  background-color: #00f5ed34;
  /* border: 2px solid fuchsia; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 12% repeat(2, 1fr) 15% 4%;
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 16px;
  box-shadow: -5px 5px 15px black;
}
.head {
  /* border: 2px solid red; */
  /* background-color: rgb(225, 245, 220); */
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/4;
}
.header_div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.B img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.nav {
  /* background-color: antiquewhite; */
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  grid-area: 2/1/3/4;
  height: 100%;
}
.btn {
  background-color: #60e4f577;
  border-radius: 8px;
  width: 5rem;
  height: 2rem;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  position: relative;
  transition: 0.5s ease;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #5f2419;
  transition: width 0.5s ease;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  border-bottom: 0.5rem solid #5f2419;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.077);
  border-radius: 8px;
}

.main {
  /* border: 2px solid yellowgreen; */
  height: 100%;
  grid-area: 3/1/5/3;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  box-shadow: 5px 5px 5px black;
}
.div1,
.div2,
.div3,
.div4 {
  border: 1px solid rgba(165, 42, 42, 0.256);
  border-radius: 8px;
  width: 50%;
  height: 50%;
}
.div1 {
  /* background-color: aqua; */
  position: absolute;
  top: 0;
  left: 0;
}
.div1 img {
  width: 100%;
  height: 100%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9c98428e;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 5px;
}

.div1:hover .overlay {
  height: 100%;
  overflow-y: visible;
}
.overlay::-webkit-scrollbar {
  width: 0;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}
.div2 {
  /* background-color: rgb(136, 149, 149); */
  position: absolute;
  top: 0;
  right: 0;
}
.div2 img {
  width: 100%;
  height: 100%;
}
.div2:hover .overlay {
  height: 100%;
  overflow-y: visible;
}

.div3 {
  /* background-color: rgb(117, 184, 184); */
  position: absolute;
  bottom: 0;
  left: 0;
}
.div3 img {
  width: 100%;
  height: 100%;
}
.div3:hover .overlay {
  height: 100%;
  overflow-y: visible;
}
.div4 {
  /* background-color: rgb(97, 145, 110); */
  position: absolute;
  bottom: 0;
  right: 0;
}
.div4 img {
  width: 100%;
  height: 100%;
}
.div4:hover .overlay {
  height: 100%;
  overflow-y: visible;
}
.aside {
  /* border: 2px solid purple; */
  background-color: #9c98422d;
  grid-area: 3/3/5/4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  margin-left: 5px;
}
.aside:hover {
  background-color: #9c984264;
}
.footer {
  /* border: 2px solid black; */
  grid-area: 5/1/6/4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-family: "Bebas Neue", sans-serif;
}

.contact a {
  text-decoration: none;
  color: black;
}
.contact:hover {
  transform: scale(0.96);
}
.contact2 i {
  color: #f48024;
}
.contact3 i {
  color: purple;
}
.contact4 i {
  color: #0866ff;
}
.contact5 i {
  color: #404eed;
}

.end {
  /* border: 2px solid goldenrod; */
  height: 100%;
  grid-area: 6/1/7/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 0.9rem;
}

/* -------------------------------------------- */
/*                   currency                   */
/* -------------------------------------------- */
.currency {
  padding: 2rem;
}

.currency select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  color: #0e3114;
  width: 6.4rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black;
  margin-bottom: 8px;
}
.currency select:hover {
  color: #213a25;
  background-color: #095a1ba1;
  cursor: pointer;
}

.currency input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  color: #192c1e;
  width: 6rem;
  height: 2rem;
  /* border: none; */
  /* border-radius: 30px; */
  /* padding:2px; */
  font-size: 1.2rem;
  /* font-weight: 500; */
  margin-left: 0.5rem;
}
.currency select option {
  background-color: #095a1ba1;
  font-size: 1rem;
  color: rgb(20, 41, 26);
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_exc {
  display: flex;
  justify-content: center;
  align-items: center;
}
button#exchange {
  width: 4rem;
  height: 4rem;
  /* margin-top: 15px;
  margin-bottom: 15px; */
  background-color: transparent;
  color: #213a25;
  font-weight: bold;
  font-size: 2rem;
  /* text-align: center; */
  justify-content: center;
  /* padding-bottom : 0.3rem; */
  /* border: none; */
  /* border: 2px solid #000;*/
  border-radius: 50%;
}

button#exchange:hover {
  color: #213a25;
  background-color: #569456;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* button#exchange:active{
} */

.rate {
  /* border: 2px solid gold; */
  color: #5f2419;
  width: 9rem;
  height: 2rem;
  border-radius: 2rem;
  /* margin-top: 80px; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}
/* -------------------------------------------- */
/*                 currency-end                 */
/* -------------------------------------------- */

/* -------------------------------------------- */
/*                     MEDIA                    */
/* -------------------------------------------- */
@media screen and (max-width: 1000px) {
  .text {
    top: 80%;
  }
}

@media screen and (max-width: 786px) {
  .cover {
    width: 95%;
    grid-template-rows: 15% 12% 34% 20% 15% 4%;
  }
  .B img {
    max-width: 30px;
    max-height: 30px;
  }
  .main {
    grid-area: 3/1/4/4;
  }

  .aside {
    grid-area: 4/1/5/4;
    position: relative;
  }
  .side {
    display: flex;
  }
  .currency {
    /* border: 2px solid red; */
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .currency select {
    margin-bottom: 8px;
  }
  button#exchange {
    transform: rotate(-90deg);
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
  .result {
    /* border: 2px solid gold; */
    position: absolute;
    bottom: 8px;
    left: 30%;
  }
}
@media screen and (max-width: 384px) {
  * {
    font-size: 11px;
  }
  .currency select {
    width: 68px;
  }
  .end p {
    font-size: 0.7rem;
  }
}
