* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/doga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  /* -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover; */
}
.container1 {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  background-color: #ffffff49;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 1%;
  left: 40%;
}

#weather-info {
  margin-top: 20px;
}

#weather-info p {
  margin: 10px 0;
}
.container {
  /* background-image: url(./img/doga.jpg);
  background-size: contain;
  background-repeat: no-repeat; */
  /* border: 2px solid fuchsia; */
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  /* display: grid; */
  position: relative;
  /* grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); */
}
.cloud {
  /* border: 2px solid red; */
  position: absolute;
  width: 70%;
  top: 30%;
  left: 0;
  padding-left: 6rem;
  /* z-index: -1; */
  animation: move 10s linear infinite alternate;
}
.img1 {
  /* filter: drop-shadow(10px 7px 10px rgb(177, 41, 41)); */
  width: 10rem;
  /* padding-left: 6rem; */
}
.img2 {
  /* filter: drop-shadow(10px 7px 10px rgb(177, 41, 41)); */
  width: 10rem;
  /* height: 4rem; */
}
.img3 {
  /* filter: drop-shadow(10px 7px 10px rgb(177, 41, 41)); */
  width: 15rem;
  /* height: 4rem; */
}
.inner1 {
  height: 20%;
  width: 3rem;
  background-image: linear-gradient(to top, #7c0c00c3, #7c0d00);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 30%;
}
.inner2 {
  /* border: 2px solid black; */
  background-color: blue;
  width: 400%;
  height: 1rem;
  position: absolute;
  top: 0.1rem;
  right: 1.5rem;
  margin-left: -50px;
  transform: rotate(0deg);
  transform-origin: right;
  border-radius: 5px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: rotate1 4s linear infinite;
}
.inner3 {
  background-color: rgb(118, 118, 156);
  width: 400%;
  height: 1rem;
  position: absolute;
  top: 0.1rem;
  right: 1.5rem;
  transform: rotate(90deg);
  transform-origin: right;
  border-radius: 5px;
  animation: rotate2 4s linear 1s infinite;
}
.inner4 {
  background-color: rgb(195, 195, 207);
  width: 400%;
  height: 1rem;
  position: absolute;
  top: 0.1rem;
  right: 1.5rem;
  border-radius: 5px;
  /* position: relative; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transform: rotate(180deg);
  transform-origin: right;
  animation: rotate3 4s linear 2s infinite;
}
.inner5 {
  background-color: rgb(195, 195, 207);
  width: 400%;
  height: 1rem;
  position: absolute;
  top: 0.1rem;
  right: 1.5rem;
  border-radius: 5px;
  /* position: relative; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transform: rotate(270deg);
  transform-origin: right;
  animation: rotate4 4s linear 3s infinite;
}
.circle {
  background-color: #831100;
  box-shadow: -2px 2px 3px #831100;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-top: -1rem;
  /* border: 2px solid black; */
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  background-color: black;
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
    background-color: rgb(167, 144, 186);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(21, 135, 158);
  }
  100% {
    transform: rotate(360deg);
    background-color: rgb(95, 121, 39);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    background-color: rgb(167, 144, 186);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(21, 135, 158);
  }
  100% {
    transform: rotate(360deg);
    background-color: rgb(95, 121, 39);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
    background-color: rgb(167, 144, 186);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(21, 135, 158);
  }
  100% {
    transform: rotate(360deg);
    background-color: rgb(95, 121, 39);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotate(0deg);
    background-color: rgb(167, 144, 186);
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(21, 135, 158);
  }
  100% {
    transform: rotate(360deg);
    background-color: rgb(95, 121, 39);
  }
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(25%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* -------------------------------------------- */
/*                     MEDIA                    */
/* -------------------------------------------- */

@media screen and (max-witdh: 991px) {
  /* .inner2,
  .inner3,
  .inner4,
  .inner5 {
    width: 50%;
  } */
  /* body {
    background-image: url(./img/doga.jpg);
    height: 100vh;
  } */
  .cloud {
    width: 100%;
    top: 1%;
    left: 0;
  }
  .img1 {
    width: 50px;
  }
  .img2 {
    width: 50px;
  }
}
@media screen and (max-witdh: 480px) {
  .container1 {
    left: 1%;
  }
}
